body {
    font-family:'Courgette', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Courgette', sans-serif;
	text-transform: capitalize;
}

.subheading {
    font-family: 'Courgette', sans-serif;
	text-transform: none;
}

h1, .h1 {
	font-size:5rem;
}

p.lead {
	font-size:1.2reb;
}

.bg-primary {
	background-color:#00387d!important;
	background-image:url(../assets/img/diamond-upholstery.png);
}

.text-primary {
	color:#00387d!important;
}

a {
	color:#00387d;
}
table{
	    width:80%;
}
tr:nth-child(even){
	    background-color:#ddd;
}
td {
	border:1px solid #2a5d44;
}
