body {
    font-family:'Noto Sans TC', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Noto Sans TC', sans-serif;
	text-transform: capitalize;
}

.subheading {
    font-family: 'Noto Sans TC', sans-serif;
	text-transform: none;
}

h1, .h1 {
	font-size:5rem;
}

p.lead {
	font-size:1.2reb;
}

.bg-primary {
	background-color:#b3d1b9!important;
	background-image:url(../assets/img/white-brushed.png);
}

.text-primary {
	color:#b3d1b9!important;
}

a {
	color:#b3d1b9;
}